*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-items: center; 
  padding-block: 3rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input, button {
  height: 3rem;

}
input {
  width: 210px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
  padding-left: 0.8rem;
}
button {
  width: 100px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(46, 44, 44);
}
.recipe {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1 {
  flex-wrap: wrap;
 font-size: 1.5rem;
}
.food {
  border-radius: 6px;
  margin-top: 1.3rem;
  width: 320px;
  object-fit: cover;
  
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.need {
  margin-top: 7rem;
  font-size: 2rem;
  color: rgb(245, 185, 35);
  text-align: center;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chef {
  width: 330px;
  margin-top: 1.5rem;
 
}
h3 {
 text-align: center;
  margin-top: 1.5rem;
  color: rgb(226, 172, 34);
  font-size: 1.05rem;
}
ul {
  margin-left: 2rem;
  width: 320px;
  margin-top: 1rem;
}
li {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: 500;
  list-style-type: circle;
}
.recipe-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}
.not-found {
 color: rgb(245, 190, 50);
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2.5rem;
 border: 2px solid rgb(245, 185, 35);
 padding: 1rem;
 text-transform: capitalize;
 margin-top: 30vh;
}